/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to top, rgba(42, 89, 136, 0.4), transparent 40%);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
}
